<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JMS Manager | Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div><h1>Welcome to the JMS Mananger</h1></div>
    <div th:text="'Queue: ' + ${queue.name}">Queue Name</div>
    <div th:text="'Number of messages: ' + ${queue.messagesCount}">N/A</div>
    <div th:text="'Queue Size: ' + ${queue.queueSize} + ' KB'">N/A</div>
    <form action="#" method="post" th:action="@{/queue/}">
        <input type="submit" value="Purge">
    </form>
    <button>Move Messages</button>
</body>
</html>
